{% extends "layout.html" %}
{% load static %}
{% load add_css %}
{% load divide %}
{% load timestamp_to_datetime %}

{% block content %}

<div>
{% if user.is_superuser and user.username != username %}
    <form action="{% url 'file_manager' %}?username={{ username }}" method="POST">
{% else %}
    <form action="{% url 'file_manager' %}" method="POST">
{% endif %}
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <input id="select-all-items" class="d-none" type="checkbox" onclick="for(c in document.getElementsByName('files')) document.getElementsByName('files').item(c).checked = this.checked">
                    <label for="select-all-items">❌</label></th>
                <th scope="col">Název souboru</th>
                <th scope="col">Velikost</th>
                <th scope="col">Datum</th>
            </tr>
        </thead>
        <tbody id="id_files" >
            {% for name, description in form.files.field.widget.choices %}
            <tr>
                <td><input id="id_files_{{ forloop.counter0 }}" type="checkbox" name="files" value="{{ name }}" class="form-check-input align-center shadow-none border border-danger rounded checkbox-danger"></td>
                <td><label for="id_files_{{ forloop.counter0 }}">
                    {% if user.is_superuser and user.username != username %}
                        <a href="{% get_media_prefix %}{{ name }}?username={{ username }}" download class="h5">{{ description.filename }}</a><br>
                    {% else %}
                        <a href="{% get_media_prefix %}{{ name }}" download class="h5">{{ description.filename }}</a><br>
                    {% endif %}
                </label></td>
                <td><p class="h5">{{ description.size | divide:1_048_576 | floatformat:1 }} MB</td>
                <td><p class="h5">{{ description.ctime|timestamp_to_datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="buttonBox">
        <input type="submit" value="Odstranit vybrané soubory" class="btn btn-danger my-2">
    </div>
</form>
</div>
{% endblock %}
